<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Detection and Recognition.</title>
    <link rel="stylesheet" href="/static/styles/style.css"/>
</head>
<body>

    {% if mess%}
    <p class="text-center" style="color: red;font-size: 20px;">{{ mess }}</p>
    {% endif %}

    <div class="register">
        <input type="button" value="Register Members" onclick="window.open('/add','_self')"/>
    </div>    

    <a style="text-decoration: none;max-width: 300px;" href="/start">
        <div class="scan">
            <input type="button" value="Scan">
        </div>
    </a>
    
</body>
</html>